.edn-tree {
  font-size: 13px;
  width: 100000px;
  margin-top: 20px;
  display: flex;
}

.edn-tree .map:before { content: "{"; }
.edn-tree .map:after  { content: "}"; }
.edn-tree .map:before,
.edn-tree .map:after {
  color: #eeee22;
  display: inline-flex;
  float: left;
}

.edn-tree .vector:before { content: "["; }
.edn-tree .vector:after  { content: "]"; }
.edn-tree .vector:before,
.edn-tree .vector:after {
  color: #22ee22;
  display: inline-flex;
  float: left;
}

.edn-tree .seq:before { content: "("; }
.edn-tree .seq:after  { content: ")"; }
.edn-tree .seq:before,
.edn-tree .seq:after {
  color: purple;
  display: inline-flex;
}

.edn-tree .map {
  display: block;
  float: left;
}

.edn-tree .map .key-val {
  display: block;
  float: left;
}

.edn-tree .map .key-val:not(:first-child) {
  display: block;
  clear: both;
  padding-left: 10px;
}

/* Map key */
.edn-tree .map .key-val > div:nth-child(1) {
  display: block;
  float: left;
  padding: 0 5px 0 5px;
}

/* Map value */
.edn-tree .map .key-val > div:nth-child(2) {
  color: white;
  display: inline-block;
}
/*
.edn-tree .vector > div:after {
  content: ",";
  display: block;
  clear: both;
  float: left;
  color: white;
}

.edn-tree .vector > div:last-child:after {
  content: "";
}
*/
.edn-tree .vector > div {
  display: inline-flex;
  float: left;
  clear: both;
}

.edn-tree .vector > div:first-child {
  float: left;
}

.edn-tree span.string:before,
.edn-tree span.string:after {
  content: "\"";
}

.edn-tree span.string {
  color: #33ffff;
}

.edn-tree span.number {
  color: #cc66ff;
}

.edn-tree span.keyword {
  color: #ff8888;
}

.edn-tree span.nil {
  color: red;
}

.edn-tree span.boolean {
  color: #ff00ff;
}

.edn-tree .collapsed { cursor: pointer; }
.edn-tree .collapsed:hover,
.edn-tree .collapsed:hover > .vector:before,
.edn-tree .collapsed:hover > .vector:after,
.edn-tree .collapsed:hover > .map:before,
.edn-tree .collapsed:hover > .map:after,
.edn-tree .collapsed:hover > .seq:before,
.edn-tree .collapsed:hover > .seq:after { text-decoration: underline; }
.edn-tree .collapsed > .vector:before { content: "[..."; }
.edn-tree .collapsed > .map:before    { content: "{..."; }
.edn-tree .collapsed > .seq:before    { content: "(..."; }

/* Hide non-top-level vector contents */
/*.edn-tree div .vector > div {
  display: none !important;
}
.edn-tree div .vector:before {
  content: "[...";
}*/
/* Hide non-top-level maps contents */
/*.edn-tree div .map > div {
  display: none !important;
}
.edn-tree div .map:before {
  content: "{...";
}*/